@model CeeLearnAndDo.Models.Question

@{
    ViewBag.Title = "Vraagbaak";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Stel een vraag of bekijk beantwoorde vragen!</h1>
            <ol class="breadcrumb">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="active">Vraagbaak</li>
            </ol>
        </div>
    </div><!-- /.row -->
    <div class="row">
        <div class="col-sm-8">
            <h3>@Html.DisplayFor(model => model.Title)</h3>
            <div>
                @Html.DisplayFor(model => model.Description)
            </div>
            <div>
                @Html.DisplayFor(model => model.CreatedAt)
            </div>
            <hr />
            <div>
                @Html.DisplayFor(model => model.Content)
            </div>
            <div>
            </div>
        </div><!-- /.row -->
    </div>
</div>