<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CeeLearnAndDo</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("CeeLearnAndDo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Over Ons", "About", "Home")</li>
                    @* PHP Contact Form <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                    <li>@Html.ActionLink("Contact", "Create", "Contact")</li>
                    <li id="portfolio" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li id="1columnportfolio">
                                @Html.ActionLink("1 Kolom Portfolio", "OneColumn", "Portfolio")
                            </li>
                            <li id="2columnportfolio">
                                @Html.ActionLink("2 Kolom Portfolio", "TwoColumn", "Portfolio")
                            </li>
                            <li id="3columnportfolio">
                                @Html.ActionLink("3 Kolom Portfolio", "ThreeColumn", "Portfolio")
                            </li>
                            <li id="singleportfolioitem">
                                @Html.ActionLink("Enkel Portfolio Item", "SingleItem", "Portfolio")
                            </li>
                            <!-- Hier nog mee bezig -->
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - CeeLearnAndDo</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
